// ESTILO CONTENEDOR PRINCIPAL

div {
    #contenedorPcArmadaPrincipal {
        &:hover {
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 5);
            transition: all ease;
        }

    }

    .contenedorPcArmadaPrincipal {
        &:hover {
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 5);
            transition: all ease;
        }
    }
}

// ESTILO CONTENEDOR SECUNDARIO

div {
    #contenedorPcArmadaSecundario {
        &:hover {
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 5);
            transition: all ease;
        }

    }

    .contenedorPcArmadaSecundario {
        &:hover {
            box-shadow: 0px 1px 10px rgba(0, 0, 0, 5);
            transition: all ease;
        }
    }
}